<main>
  <div id="about" class="intro">
    <h1>About</h1>
      <p>
          For the summer of 2019, Dr. Edwards is researching how the change in climate has impacted the height of the tropopause. With the financial assistance of Southwestern's summer Scope program, this web application was built to automate the retrieval of radiosonde data for gulf states between Texas and Florida and produce various visualizations with the parameters supplied below. Our goal is to make upper atmosphere research accessible and easy for Dr. Edwards and anyone else looking for answer in this field.
      </p>
  </div>

  <div id="document" class="multi-section">
    <img src="assets/balloon.jpeg" />
    <div>
      <h3>Documentation</h3>
      <p>Radiosondes are sent from multiple locations across the gulf twice a day by NOAA. The data the radiosondes have returned has been stored by NOAA. This web application has obtained its data from the University of Wyoming through a Python package, Siphon. The data has been stored on our own database for quick access. To determine the height of the tropopause we find the lowest temperature for each balloon and the height of the balloon at that temperature. </p>
    </div>
  </div>

  <div id="learn_more" class="multi-section-two">
      <img class="a" src="assets/visuals.png" />
      <div class="b">
        <h3>Learn More</h3>
        <p>If you are researching the upper atmosphere and would like to have your work visualized with data outside of what is currently being stored by this wep application, please contact us. </p>
      </div>
  </div>

  <div id="get_started">
    <h3>Input Parameters</h3>
    <p>Select from the options below and click submit. A new page will open with an interactive visualization of the data with the parameters below</p>
    <app-dropdown></app-dropdown>
    <a href="#" class="contact">Submit </a>
  </div>
</main>
