<div>
  <select (change)="onSelectStation($event.target.value)">
    <option class="contact" *ngFor="let station of stations" value= {{station.id}}>{{station.name}}</option>
  </select>
  <select (change)="onSelectSeason($event.target.value)">
    <option class="contact" *ngFor="let season of seasons" value= {{season.id}}>{{season.name}}</option>
  </select>
  <select (change)="onSelectOni($event.target.value)">
    <option class="contact" *ngFor="let item of oni" value= {{item.id}}>{{item.option}}</option>
  </select>
</div>